In [2]:
import pandas as pd

In [3]:
org_data_path = "../CHESS/data/chess_games.csv"
df_org = pd.read_csv(org_data_path)
df_org.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20058 entries, 0 to 20057
Data columns (total 17 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   game_id            20058 non-null  int64
 1   rated              20058 non-null  bool
 2   turns              20058 non-null  int64
 3   victory_status     20058 non-null  object
 4   winner             20058 non-null  object
 5   time_increment     20058 non-null  object
 6   white_id           20058 non-null  object
 7   white_rating       20058 non-null  int64
 8   black_id           20058 non-null  object
 9   black_rating       20058 non-null  int64
 10  moves              20058 non-null  object
 11  opening_code       20058 non-null  object
 12  opening_moves      20058 non-null  int64
 13  opening_fullname   20058 non-null  object
 14  opening_shortname  20058 non-null  object
 15  opening_response   1207 non-null   object
 16  opening_variation  14398 non-null  object
dtypes: bool(1), int64(5), object(11)
memory usage: 2.5+ MB

In [4]:
df_org.describe()

            game_id         turns  white_rating  black_rating  opening_moves
count  20058.000000  20058.000000  20058.000000  20058.000000   20058.000000
mean   10029.500000     60.465999   1596.631868   1588.831987       4.816981
std     5790.390185     33.570585    291.253376    291.036126       2.797152
min        1.000000      1.000000    784.000000    789.000000       1.000000
25%     5015.250000     37.000000   1398.000000   1391.000000       3.000000
50%    10029.500000     55.000000   1567.000000   1562.000000       4.000000
75%    15043.750000     79.000000   1793.000000   1784.000000       6.000000
max    20058.000000    349.000000   2700.000000   2723.000000      28.000000

In [5]:
# Eliminar columnas
# white_id / black_id: no es necesario identificar a los jugadores para clasificar. 

# Opening response: Esta columna tiene muchos espacios en blancos
# para clasificar depende de interpretación.

# Victory status: El estatus de la victoría no estará disponible al evaluar posiciones no finalizadas

df_1 = pd.DataFrame()
df_1 = df_org.drop(labels=['white_id','black_id','opening_response', 'victory_status'],axis=1)
df_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20058 entries, 0 to 20057
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   game_id            20058 non-null  int64
 1   rated              20058 non-null  bool
 2   turns              20058 non-null  int64
 3   winner             20058 non-null  object
 4   time_increment     20058 non-null  object
 5   white_rating       20058 non-null  int64
 6   black_rating       20058 non-null  int64
 7   moves              20058 non-null  object
 8   opening_code       20058 non-null  object
 9   opening_moves      20058 non-null  int64
 10  opening_fullname   20058 non-null  object
 11  opening_shortname  20058 non-null  object
 12  opening_variation  14398 non-null  object
dtypes: bool(1), int64(5), object(7)
memory usage: 1.9+ MB

In [6]:
#rellenando la columna Opening_variation los blanks con "traditional opening"
df_1['opening_variation'] = df_org['opening_variation'].fillna('traditional opening')
df_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20058 entries, 0 to 20057
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   game_id            20058 non-null  int64
 1   rated              20058 non-null  bool
 2   turns              20058 non-null  int64
 3   winner             20058 non-null  object
 4   time_increment     20058 non-null  object
 5   white_rating       20058 non-null  int64
 6   black_rating       20058 non-null  int64
 7   moves              20058 non-null  object
 8   opening_code       20058 non-null  object
 9   opening_moves      20058 non-null  int64
 10  opening_fullname   20058 non-null  object
 11  opening_shortname  20058 non-null  object
 12  opening_variation  20058 non-null  object
dtypes: bool(1), int64(5), object(7)
memory usage: 1.9+ MB

In [7]:
df_1.to_csv("../CHESS/data/df_1.csv", index=False) # Clean Data